---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<div class="p-10">
        <div>
            <p>cd ./about/</p>
		</div>
    	<div class="grid bg-black bg-opacity-70">
			<!-- Objective -->
			<h1 class="p-4 text-center">
				Driven computer science student with a curiosity and passion for learning,
				looking for opportunities to gain more technical skills and expand knowledge.
			</h1>
	
			<div>
				<h1 class="section-title">Education</h2>
				<div class="p-4 ml-4 flex flex-col gap-4">
					<div class="flex">
						<p class="info">Sept 2024 to June 2028</p>
						<p>Pursuing a Bachelor of Science in Computer Science Systems</br>
							Oregon State University</br>
							4.0 GPA, Research Fellow, Dean's List</p>
					</div>
					<div class="flex">
						<p class="info">Sept 2020 to June 2024</p>
						<p>High School Diploma, Cedarcrest Highschool</br>
							4.0 GPA, Valedictorian</p>
					</div>
				</div>
			</div>

			<!-- Skills -->
			<div>
				<h1 class="section-title">Technical Skills</h2>
				<ul class="list-disc p-4 ml-8">
				<li>Proficient in C#, Java, Python, C++, Dart, HTML, CSS, Javascript, and C</li>
				<li>Familiar with Git and its functions</li>
				<li>Experienced in Unity 2D and 3D, including online multiplayer</li>
				<li>Experience in publishing apps on the iOS App Store </li>
				<li>Machine Learning, Deep Learning</li>
				<li>Flutter/Andriod Studio</li>
				</ul>
			</div>
		
			<div>
				<h1 class="section-title">Experience</h2>
					<div class="p-4 ml-4 flex flex-col gap-4">
						<div class="flex">
							<p class="info">October 2024 to Present</p>
							<p class="description">Star Labs (URSA Engage)</br>
						Research Assistant in Maching Learning</br>
						I am working with two other students on a mobile app named Meala that uses a large language model (LLM) to provide
						personalized nutrition advice. I implemented Retrieval-Augmented Generation (RAG) in Python to improve recipe
						accuracy using embedded documents. In addition, I redesigned and implemented a user interface in Flutter that displays
						recipes in a simple, user-friendly format to enhance the user experience.</p>
						</div>
						<div class="flex">
						<p class="info">June 2025 to Present</p>
						<p class="description">City of Duvall</br>
						Seasonal Maintenance Worker</br>
						Maintain city parks, wetlands, and roadside areas by week-whacking, mowing, and clearing brush. Drive city vehicles to
						work sites and operate landscaping equipment while following safety procedures.</p>
						</div>
						<div class="flex">
							<p class="info">April 2021 to Present</p>
							<p class="description">Nutron Labs</br>
						Co-Founder</br>
						In my time at Nutron Labs, I was the sole developer in the publishing and development 5 apps
						on the iOS App Store. These products, all developed in Unity, required a different set of skills to
						develop each and amassed over 500 downloads among all of them.
							</p>
						</div>
					</div>
				</div>
		
			<div>
			<h1 class="section-title">Clubs and Leadership</h2>
			<div class="p-4 ml-4 flex gap-4">
				<ul class="list-disc p-4">
					<li>Current Webmaster at OSU App Development Club</li>
					<li>Current Tech Officer at OSU Google Developer Student Club</li>
					<li>BeaverHacks 2025 3rd Place Winner of ACM Track for educational technology.</li>
					<li>Research Fellow: Presented at the Spring Poster Symposium at Oregon State University for URSA Engage.</li>
				</ul>
			</div>
			</div>
    	</div>
    </div>
</Layout>

<style>

	.section-title {
		font-weight: 500;
		display: inline-block;
		border: bottom;
		border-bottom: 2px solid var(--matrix-green);	
		padding: 0 16px 8px 16px;
	}

	.info {
		white-space: nowrap;
		width: 20%;
	}

	.description {
		width: 80%;
	}
	.grid {
        border-color: var(--matrix-green);
        border-width: 2px;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-items: start;
        box-shadow: 0 0 15px rgba(0, 255, 65, 0.5);
    }

	h1 {
		font-family: 'Fira Code', monospace;
		font-size: 30px;
		margin-top: 0.25em;
	}

	p {
		font-family: 'Fira Code', monospace;
		padding: 10px 10px;
		color: var(--matrix-green);
		font-weight: normal;
	}
</style>
