---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import background from '../assets/background.svg';
---

<Layout title="Home">
	<canvas id="canvas">

	</canvas>

	<div id="container" class="box">
		<main class="flex-1 flex flex-col items-center justify-center">
			<h1>Hi There! I am a current Oregon State</h1>
			<h1>University First-Year studying</h1>
			<h1>Computer Science Systems</h1>
		</main>
	</div>
</Layout>

<style>
	canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
		background-color: var(--matric-black);
  }

	main {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Fira Code', monospace;
	}

	h1 {
		fill-color: rgb(255, 255, 255, 255);
		font-size: 44px;
		margin-top: 0.25em;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
    const canvas = document.getElementById('canvas') as HTMLCanvasElement;
    if (!canvas) return;
    
    const context = canvas.getContext('2d');
    if (!context) return;
    
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    
    const fontSize = 16;
    const columns = Math.floor(canvas.width / fontSize);
    const drops: number[] = [];

    for (let i = 0; i < columns; i++) {
      drops[i] = 0;
    }
    
    const str = "abcdefghijklmnopqrstuvwxyz     0123456789    ";
    
    const draw = () => {
      context.fillStyle = "rgba(0, 0, 0, 0.08)";
      context.fillRect(0, 0, canvas.width, canvas.height);
      
      context.font = `700 ${fontSize}px monospace`;
      context.fillStyle = "#00FF41";
      
      for (let i = 0; i < columns; i++) {

        const index = Math.floor(Math.random() * str.length);
        const x = i * fontSize;
        const y = drops[i] * fontSize;
        
        context.fillText(str[index], x, y);

        if (y >= canvas.height && Math.random() > 0.99) {
          drops[i] = 0;
        }

        drops[i]++;
      }
    };
    draw();
    
    setInterval(draw, 50);
  });

</script>
