---
import Layout from "../layouts/Layout.astro";
import ProjectBox from "../components/ProjectBox.astro";

const projects = [
    {
        title: "Ball Sorting in Tubes",
        description: "2D Puzzle Game",
        longDescription: "Ball Sorting in Tubes is a 2D Puzzle Game with thousands of unique levels. This project was an introduction to some of Unity's features such as Unity Ads and creating 2D puzzle games. This game includes different backgrounds and ball colors that are available for purchase by money or in game currency.",
        github: "https://github.com/SeanG-rsd/BallSort",
        liveURL: "https://apps.apple.com/us/app/ball-sorting-in-tubes/id6447139347",
        iconPath: "/icons/BallSortIcon.png",
        technologiesUsed: ["Unity", "iOS", "C#", "Android", "UI/UX"],
        projectType: "mobile",
        orientation: "vertical",
        demos: ["/demos/BS1.png", "/demos/BS2.gif"],
        demoCaptions: ["Candy Background", "Gameplay Demonstration"]
    },
    {
        title: "Tank Battles - Online",
        description: "3D Multiplayer Shooter",
        longDescription: "Tank Battles - Online is a 3D Multiplayer 3rd Person Shooter game. You play as a tank and can play several different game modes with friends to compete and try to win. This project uses Photon and Playfab to manage both the multiplayer experience and connecting players through a friends list.",
        github: "https://github.com/SeanG-rsd/BattleTanks",
        liveURL: "https://apps.apple.com/us/app/tank-battles-online/id6467826765",
        iconPath: "/icons/BattleTanksIcon.png",
        technologiesUsed: ["Unity", "iOS", "C#", "Photon", "Playfab", "Multiplayer"],
        projectType: "mobile",
        orientation: "horizontal",
        demos: [ "/demos/BT2.gif", "/demos/BT1.png"],
        demoCaptions: ["Capture the Flag with Shooting ", "Multiplayer Capabilities"]
    },
    {
        title: "Everything Calendar",
        description: "Daily Life Tracker",
        longDescription: "Everything Calendar was a test to create my own To-Do app. The project had the goal of being a place where I can manage everything going on in my life. To improve this project, I plan to better manage the data storage and make a cleaner user-interface for the user to interact with.",
        github: "https://github.com/SeanG-rsd/EverythingCalendar",
        liveURL: "https://apps.apple.com/us/app/everythingcalendar/id6504160364",
        iconPath: "/icons/EverythingCalendarIcon.png",
        technologiesUsed: ["Unity", "iOS", "C#"],
        projectType: "mobile",
        orientation: "vertical",
        demos: ["/demos/EC1.png", "/demos/EC2.png"],
        demoCaptions: ["Weekly/Daily Goal Tracker", "Calendar Page to add events"]
    },
    {
        title: "Chicken Daydreams",
        description: "Infinite 2D Runner",
        longDescription: "Chicken Daydreams was a short side project that I created with the intention of practicing creating pixel art. I wanted to make a game that had small side quests within the game with the coops while also including a runner style game like Temple Run.",
        github: "https://github.com/SeanG-rsd/ChickenRun",
        liveURL: "https://apps.apple.com/us/app/chicken-daydreams/id6686399476",
        iconPath: "/icons/ChickenRunIcon.png",
        technologiesUsed: ["Unity", "iOS", "C#"],
        projectType: "mobile",
        orientation: "vertical",
        demos: ["/demos/CR2.gif", "/demos/CR1.png"],
        demoCaptions: ["Basic Gameplay", "Chased constantly by enemy snake"]
    },
    {
        title: "In Between Worlds",
        description: "Infinite 2D Sidescroller",
        longDescription: "Inbetween Worlds was developed in just over a week for an onling \"Game Jam\" competition. After finishing the competition, I added several more features before releasing it to the iOS App Store. The idea is that you run away from a wall that is always chasing you, while also protecting a crate that you have to bring along with you.",
        github: "https://github.com/SeanG-rsd/InBetweenWorlds",
        liveURL: "https://apps.apple.com/us/app/in-between-worlds/id6475752584",
        iconPath: "/icons/InBetweenWorldsIcon.png",
        technologiesUsed: ["Unity", "iOS", "C#"],
        projectType: "mobile",
        orientation: "horizontal",
        demos: ["/demos/IBW.gif", "/demos/IBW2.png"],
        demoCaptions: ["Going between worlds to unlock the next area with keys", "Protecting your crate"]
    },
    {
        title: "InstApply",
        description: "Hackathon Website for Job Applications",
        longDescription: "A group of 4 students, including me, created a Job/Internship Application website in just under 72 hours as a group. This project was my first time creating a frontend display for a website and I really enjoyed the process as I learned a lot in just a short window. The project was left unfinished but I am happy with how my contributions added to the project as a whole.",
        github: "https://github.com/quick007/instapply",
        liveURL: "https://devpost.com/software/instapply",
        iconPath: "/demos/InstApply.png",
        technologiesUsed: ["HTML", "CSS", "Javascript", "React", "Supabase"],
        projectType: "website",
        orientation: "horizontal",
        demos: ["/demos/InstApply.png",],
        demoCaptions: ["Homepage"]
    },
    {
        title: "Porfolio Website",
        description: "Display of Projects",
        longDescription: "This website was created to practice my web development and create a display for all of my previous projects. I will continue to update this site with any/all projects that I am passionate about and that show off my love for programming. If you made it this far, thank you!",
        github: "https://github.com/SeanG-rsd/seangutmann",
        liveURL: "https://seangutmann.com",
        iconPath: "/demos/WebsiteDemo.png",
        technologiesUsed: ["HTML", "CSS", "Javascript", "Astro", "Cloudflare (DNS)"],
        projectType: "website",
        orientation: "horizontal",
        demos: ["/demos/WebsiteDemo.png",],
        demoCaptions: ["Homepage"]
    },
];
---

<Layout title="Projects">
    <div class="p-10">
        <div>
            <p>cd ./projects/</p>
        </div>
    <div class="grid bg-black bg-opacity-70">
        {projects.map((project) => (
            <ProjectBox 
                project={project}
            />
        ))}
    </div>
    </div>
</Layout>

<style>

    h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    p {
        padding: 10px 10px;
        white-space: normal;
    }

    .grid {
        border-color: var(--matrix-green);
        border-width: 2px;
        border-radius: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        box-shadow: 0 0 15px rgba(0, 255, 65, 0.5);
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
  
    const buttons = document.querySelectorAll(".dropdown .info");
    const contentContainers = document.querySelectorAll(".dropdown .content");
    const icons = document.querySelectorAll(".dropdown #dropdown-icon");
  
    buttons.forEach((btn, index) => {
      const icon = icons[index];
      const content = contentContainers[index];
  
      btn.addEventListener("click", () => {
        content.classList.toggle("open");
        btn.classList.toggle("open");

        icon.innerHTML = content.classList.contains("open") 
          ? `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>`
          : `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
              </svg>`;
      });
    });
  });
  </script>