---
import Layout from "../layouts/Layout.astro";
import ProjectBox from "../components/ProjectBox.astro";
---

<Layout title="Projects">
    <div class="flex flex-col items-center justify-start gap-10">
        <ProjectBox>
            <p>Information about project</p>
        </ProjectBox>
        <ProjectBox>
            <p>Information about project</p>
        </ProjectBox>
        <ProjectBox>
            <p>Information about project</p>
        </ProjectBox>
        <ProjectBox>
            <p>Information about project</p>
        </ProjectBox>
    </div>
</Layout>