---

const { title, description, iconPath } = Astro.props;
---

<div class="dropdown">
    <button id="dropdown-button" class="info">
        <div id="dropdown-icon" data-title={title} class="w-1/4 flex justify-center">  
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
              </svg>                   
            </div>
        <div class="flex flex-col w-1/2 justify-center">
            <h1>{title}</h1>
            <p>{description}</p>
        </div>
        <div class="w-1/4 flex justify-end mr-12">
          <img src={iconPath} class="icon"></img>
        </div>
    </button>
    <div id="dropdown-content" class="content">
        <slot/>
    </div>
</div>

<!-- transition: <property> <duration> <timing-function> <delay>; -->

<style>

    h1 {
      font-weight: bold;
      font-size: 22px;
    }

    p {

    }

    .icon {
        max-width: 120px;
        max-height: 120px;
    }

    .dropdown {
        flex-direction: row;
        transition: transform 300ms ease-in-out;
        border-color: var(--matrix-green);
        border-width: 2px;
        border-radius: 20px;
    }

    .dropdown:hover {
      transform: translateY(-5px);
      animation-duration: 300ms;
      box-shadow: 0 0 15px rgba(0, 255, 65, 0.5);
    }

    .dropdown .info {
      background-color: black;
      width: 100%;
      min-width: 1000px;
      max-width: 1000px;
      min-height: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      transition: border-radius 0s ease-in-out 0.5s;
    }

    .dropdown .info.open {
      grid-column: span 2;
      border-radius: 20px 20px 0 0;
      transition: border-radius 0s linear 0s;
    }
  
    .dropdown p{
      display: block;
      color: var(--matrix-green);
      text-decoration: none;
      padding: 10px 15px;
    }
  
    .dropdown .content {
      max-height: 0;
      overflow: hidden;
      background-color: black;
      transition: max-height 0.5s ease-in-out, padding;
      width: 100%;
      min-width: 1000px;
      max-width: 1000px;
      border-radius: 0 0 20px 20px;
    }

    .dropdown .content.open {
      max-height: 10000px;
      
    }
</style>