---

const { title, description, iconPath } = Astro.props;
---

<div class="dropdown">
    <button id="dropdown-button" class="info">
        <div id="dropdown-icon" data-title={title}>  
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
              </svg>                   
            </div>
        <div class="flex flex-col">
            <h1>{title}</h1>
            <p>Short description for the app or project it also</p>
        </div>
        <img src={iconPath} class="icon"></img>
    </button>
    <div id="dropdown-content" class="content">
        <slot/>
    </div>
</div>

<!-- transition: <property> <duration> <timing-function> <delay>; -->

<style>
    .icon {
        max-width: 80px;
        max-height: 80px;
    }

    .dropdown {
        flex-direction: row;
    }

    .dropdown .info {
      background-color: white;
      width: 100%;
      min-width: 1000px;
      max-width: 1000px;
      min-height: 200px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 100px;
      border-radius: 20px;
      transition: border-radius 0s ease-in-out 0.5s;
    }

    .dropdown .info.open {
      border-radius: 20px 20px 0 0;
      transition: border-radius 0s linear 0s;
    }
  
    .dropdown p{
      display: block;
      color: black;
      text-decoration: none;
      padding: 10px 15px;
    }
  
    .dropdown .content {
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    width: 100%;
    min-width: 1000px;
    max-width: 1000px;
    border-radius: 0 0 20px 20px;
    }

    .dropdown .content.open {
      max-height: 10000px;
      padding: 10px;
    }
</style>